<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198740477059-dtfklqqc0d499o3jbkvebdu94aljoajc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198740477059-dtfklqqc0d499o3jbkvebdu94aljoajc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>198740477059-t5piv8ibr3het9ks6tffdjg6m9vb6ldv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLizZZee0lGBgyFd3LhxpEjFHOrDVB0a0</string>
	<key>GCM_SENDER_ID</key>
	<string>198740477059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masa.mopp</string>
	<key>PROJECT_ID</key>
	<string>mopp-mcolledge</string>
	<key>STORAGE_BUCKET</key>
	<string>mopp-mcolledge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:198740477059:ios:7c80efa1dcde07d34247b6</string>
	<key>DATABASE_URL</key>
	<string>https://mopp-mcolledge.firebaseio.com</string>
</dict>
</plist>
